<head>
	
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="main.css"/>
	</head>
	<body>

    <div style="text-align:center">Events</div>
			<header id="header">
				<div class="inner">
					<a href="events.html" class="logo" img src="logo.jpg"
					</a>
					<nav id="nav">
						<a href="events.html">Events</a>
            <a href="aboutus2.html">Meet the Team!!</a>
						<a href="women.html">Women</a>
						<a href="mens_rights.html">Men</a>
            <a href="lgbt.html">LGBT+</a>
						<a href="peopleofcolor.html">People Of Colour</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

    <div class="container">
      <div class="jumbotron">
      <div id="buzz">
          <div class="row">
            <div class="col-sm-3">
								<h3>Men</h3>
							<p>Although not often mentioned,they are still prominent issues.</p>
            </header>
            </div>
          </div>
          <div id="buzz">
              <div class="row">
                <div class="col-sm-3">
								<h3>Women</h3>
							</header>
							<p>Although women also are disadvantaged in society,
              it does not mean that mens rights should take a back seat and be ignored.</p>
							<header>
            </div>
          </div>
          <div id="buzz">
              <div class="row">
                <div class="col-sm-3">
								<h3>LGBT+</h3>
							</header>
							<p>Those of sexual orientations or gender identities other than heterosexuality and cisgender in today’s society suffer greatly from other people’s ignorance, discriminative behaviour and laws globally that discriminate against them. Lesbian, Gay, Bisexual (as well as pansexual, asexual+) people and Transgender people are often unrecognised or forgotten in society, OR are harassed and abused just for whom they love.
</p>
          <div id="buzz">
            <div class="row">
              <div class="col-sm-3">
                <header>
								<h3>People of Color</h3>
							</header>
							<p>People of colour can be treated differently and disadvantaged in society. this can be becasue of prejudice and bias - especially on behalf of organisations like the police. Although racism is less of an issue than it used to be, it is still an issue, and further awareness needs to be raised.</p>
              </div>
				</div>
      </div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<ul class="icons">
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
							<li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
							<li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			
	</body>
</html>