<html> 
<head> 
	<title> Welcome to UCL Societies App</title> 
		
<link rel="stylesheet" type="text/css" href="style.css"> 
		
</head> 
<body> 
	
	<br> 
	<br> 
	<br> 
	<div class="container" > 
		<div class="row"> 
		<div class="col-md-3"> 
					
		</div> 
				
		<div class="col-md-6 main"> 
					
			<h1> Sign in </h1> 
        
            <br> 
            <a href = "/oauth/authorise">
                <input type="submit" id="submitDetails"
                    name="submitDetails" value="Sign in with UCL"/>
            </a>
			<br> 
					
			</form> 
					
		</div> 
				
				
		<div class="col-md-3"> 
		</div> 
				
	</div> 
	</div> 
</body> 
</html>	 
