
body {
  text-align: center;
  padding: 5px !important;
}

.login-container img {
  width: 50%;
}
<<<<<<< HEAD


header {
  font-family: 'Times';
  font-size: 80px;
}

h3 {
  font-family: 'Arial';
  font-size: 50px;
}

p{
  font-family: 'Arial';
  font-size: 20px;
}


/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar Link {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar Link:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}
=======
>>>>>>> 6e8a24dd7224d55869a04f4be199fd8f2ddcb637
