
body {
  /* text-align: center; */
  padding: 5px !important;
}

header {
  font-family: 'Times';
  font-size: 80px;
}

h3 {
  font-family: 'Arial';
  font-size: 50px;
}

p{
  font-family: 'Arial';
  font-size: 20px;
}

.soc-modal-image {
  width: 100%;
}

.event-modal-desc {
  font-size: smaller;
}
